$eventColor: #B3E5FC;

$turquoise: #129793;
$grey: #505050;
$yellow: #fff5c3;
$bluegreen: #9bd7d5;
$red: #ff7260;

#start {
    font-family: 'Sigmar One', cursive;
    width: 100%;
    height: 5vh;
    min-height: 3.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $grey;
    color: $yellow;
    font-size: 3em;
    border-radius: 20px;
}

#map {
    width: 100%;
    height: 70vh;
    margin: auto;
    margin-bottom: 20px;
}

.header {
    text-align: center;
}

#events {
    margin-top: 20px;
    list-style-type: none;
    padding-left: 5vw;
    padding-right: 5vw;
}

.event {
    font-size: 1.5em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $eventColor;
}

.event:last-child {
    border-bottom-style: none;
}

.event:nth-child(even) {
    background-color: darken($eventColor, 20);
}