$eventColor: #B3E5FC;

$turqoise: #129793;


#start {
    font-family: 'Sigmar One', cursive;
    width: 100%;
    height: 10vh;
    min-height: 3.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lighten(#000000, 0);
    color: #ffffff;
    font-size: 3em;
}

#map {
    width: 100%;
    height: 70vh;
    margin: auto;
    margin-bottom: 20px;
}

.header {
    text-align: center;
}

#events {
    margin-top: 20px;
    list-style-type: none;
    padding-left: 5vw;
    padding-right: 5vw;
}

.event {
    font-size: 1.5em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $eventColor;
}

.event:last-child {
    border-bottom-style: none;
}

.event:nth-child(even) {
    background-color: darken($eventColor, 20);
}