extends layout

block content
  .container
    .col-sm-9
      #title
        span.bluegreen S
        span.teal k
        span.red e
        span.yellow l
        span.bluegreen e
        span.teal t
        span.red o
        span.yellow n 
        span.bluegreen S
        span.teal l
        span.red e
        span.yellow e
        span.bluegreen p
        span.teal w
        span.red a
        span.yellow l
        span.bluegreen k
        span.teal e
        span.red r
    .col-sm-3
      button#start(type="button")
        span.bigger.bluegreen z
        span z
        span.smaller.teal z
  
  
  .container
    .col-md-12
      div.input-group
        input#lat.form-control(type="text" placeholder="Latitude")
        input#lng.form-control(type="text" placeholder="Longitude")
        input.btn.btn-default.form-control(type="button" value="Change Location" onclick="changeLocation();")
    .col-md-12.center
      h3 Share this link with your friends!: 
        span#link.yellow
  .container
    .header
      h1  
    ul#events
  div#mapcontainer
    #map
    
block scripts
  script(src="https://maps.google.com/maps/api/js?sensor=true")
  script(src="javascripts/plotRoute.js")
  script(src="javascripts/index.js")