extends layout

block content
  .container
    .col-md-8
    .col-md-4
      button#start.btn.btn-default(type="button").
        Zzz...
  .container
    #map
  .container
    .jumbotron.header
      h1 What happened?
    ul#events
      li.event.
        Skeleton woke up
      li.event.
        Skeleton ate shit at Nick's Pizza
      li.event.
        Skeleton had mind blowing sex with his friend
      li.event.
        Skeleton went back to bed
block scripts
  script(src="https://maps.google.com/maps/api/js?sensor=true")
  script(src="javascripts/index.js")